{% extends 'base.html'%}
{%block title%} 
Infos
{%endblock%}
{%block dropdown%}
     <p><div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Enter number of characters 
        </button>
        <div class="dropdown-menu" aria-labelledby="N°">
          <a class="dropdown-item" href="#">1</a>
          <a class="dropdown-item" href="#">2</a>
          <a class="dropdown-item" href="#">3</a>
          <a class="dropdown-item" href="#">4</a>
        </div>
      </div> </p>
     {%endblock%}
{%block highhome1%}
<li class="nav-item active">
{%endblock%}

