{% extends 'base.html'%}
{%block title%} 
Infos

{%endblock%}
{%block dropdown%}
<br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp
<form action="/infos" method="POST">
            <select name="voices" id="voices" style="height: 50px; overflow-y: scroll;">
                {% for i in range(6)%}
            <option value="{{i}}">Voice number{{i}} </option>

                {%endfor%}


                 <ul>

   <input type="submit" value="Submit">
             </form>
            <h2>Submitted Text Entries</h2>
        {% for choices in choices%}
        <li style="color: red;"> here is some text : : {{ choices.voices }}</li>
      {% endfor %}
    </ul>

{%endblock%}
{%block highhome1%}
<li class="nav-item active">

{%endblock%}

