{% extends 'base.html'%}
{%block title%} 
Infos

{%endblock%}
{%block dropdown%}
<br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp
<form action="/infos" method="POST">
            <select name="voices" id="voices" style="height: 70px;width=50px; overflow-y: scroll;">
                <option value="{{1}}">FRA </option>
                <option value="{{2}}"> ANG</option>
                <option value="{{3}}"> GER</option>
                <option value="{{4}}"> ARB</option>
                <option value="{{5}}"> ESP</option>


                 <ul>

   <input type="submit" value="Submit">
             </form>
            <h2>Submitted Text Entries</h2>
        {% for choices in choices%}
        <li style="color: red;"> you chose voice : : {{ choices.voices }}</li>
      {% endfor %}
    </ul>

{%endblock%}
{%block highhome1%}
<li class="nav-item active">

{%endblock%}

