{% extends 'base.html'%}
{%block title%}
Login
{%endblock%}
{%block contente%}
Please Log in
{%endblock%}
{%block dropdown%}

<form action="/action_page.php">
  <label for="fname">First name:</label>
  <input type="text" id="fname" name="fname"><br><br>
  <label for="lname">passowrd:</label>
  <input type="password" id="lname" name="lname"><br><br>
  <input type="submit" value="Submit">
  <font size="4">
  <a href={{url_for('home')}}>learn about how this works </a>  &nbsp &nbsp
  <a href={{url_for('info')}}>Skip explanation and start </a>
  </font>
</form>
{%endblock%}
{%block highhome3%}
<li class="nav-item active">
{%endblock%}